/PRJ_Assignment/nbproject/private/
/PRJ_Assignment/build/
/PRJ_Assignment/dist/
/SE1723_ISE/nbproject/private/
/PRJ_Workshop2/nbproject/private/
/PRJ_Workshop2/build/
/Timetable/nbproject/private/
/Timetable/build/
/Q1_Test/nbproject/private/
/Q1_Test/build/
